body {
    background-color:rgb(5, 19, 27);
    color: rgb(208, 255, 0);
}

h1 {
    color: rgb(208, 255, 0);
}

div {
    margin: 3%;
}

hr {
    color: rgb(208, 255, 0);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(10, 27, 37);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(208, 255, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
  }